<div class="newsletter py-4">
    <div class="container">
        <div class="row d-flex justify-content-between">

            <div class="title">
                CADASTRE-SE EM NOSSA
                <br> 
                <strong>NEWSLETTER</strong>
            </div>
            <div>
                <input type="email" placeholder="Digite o seu melhor e-mail">
                <button class="btn btn-primary-square ml-2">
                    Cadastrar
                </button>
            </div>

        </div>
    </div>
</div>